body{
    font-family: Arial, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
}
.logo{
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
    animation: comming 2s ease;
}
main{
    width: 100%;
    height: 100%;
}
.menu{
    float: left;
    padding-left: 432px;
}
.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}
.main{
    width: 100%;
    height: 100%;
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.png) center/cover no-repeat;
}
.title_container{
    float: left;
    margin: 432px 0px 0px 404px;
    color: #2c384a;
    text-align: center;
    opacity: 0;
    animation: titlemove 1s ease forwards;
    animation-delay: 2.4s;
}
.title_container h1{
    font-size: 60px;
    font-weight: bold;
}
.title_container h4{
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
}
.title_container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;
}
.info{
    margin: 107px 447px 57px 447px;
}
.info h2{
    text-align: center;
    font-size: 34px;
    color: #263244;
    font-family: "Franklin Gothic";
}
.info img{
    margin: 89px 410px 35px 410px;
}
.info h4{
    margin-top: 44px;
    font-size: 18px;
    color: #3f495a;
    font-family: "Calibri";
}
.info input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6f707e;
    font-size: 17px;
    margin: 36px 440px 99px 440px;
}
.myskills {
    background: url(../img/bgskills.png)center/cover no-repeat;
}
.myskills h2{
    padding-top: 107px;
    padding-bottom: 248px;
    text-align: center;
    font-size: 34px;
    color: #263244;
}
.skill1 {
    max-width: 100px;
    text-align: center;
}
.skill1 h3{
    font-size: 19px;
    color: #cf7600;
    font-weight: bold;
}
.skill1 h4{
    font-size: 17px;
    color: #3f495a;
}
.skill2 h3{
    font-size: 19px;
    color: #cf7600;
    font-weight: bold;
}
.skill2 h4{
    font-size: 17px;
    color: #3f495a;
}
.skill3 h3{
    font-size: 19px;
    color: #cf7600;
    font-weight: bold;
}
.skill3 h4{
    font-size: 17px;
    color: #3f495a;
}
.skill4 h3{
    font-size: 19px;
    color: #cf7600;
    font-weight: bold;
}
.skill4 h4{
    font-size: 17px;
    color: #3f495a;
}
.cases h2{
    padding-top: 110px;
    padding-bottom: 70px;
    font-size: 33px;
    color: #384354;
    text-align: center;
}
.cases h4{
    font-size: 25px;
    color: #384354;
    font-family: "Franklin Gothic";
    text-align: center;
}
.cases h5{
    padding-bottom: 42px;
    font-size: 17px;
    color: #3f495a;
    text-align: center;
}
.cost h2{
    font-size: 46px;
    text-align: center;
}
.cost h3{
    font-size: 29px;
    text-align: center;
}
.cost input{
}
.deadline {
    font-size: 21px;
    text-align: center;
}
.price {
    font-size: 21px;
    text-align: center;
    padding-bottom: 155px;
    padding-top: 15px;
}
.statistics {
    height: 600px;
    background: url(../img/statistics.png) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.statistics h1{
    text-align: center;
    font-size: 33px;
    padding-top: 147px;
    padding-bottom: 89px;
    color: #323e4f;
}
.statistics h2{
    font-size: 38px;
    color: #323e4f;
    text-align: center;
}
.statistics h3{
    color: #3f4b5b;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}
.comment h2{
    padding-top: 107px;
    padding-bottom: 97px;
    font-size: 34px;
    color: #243042;
    text-align: center;
    font-family: "Franklin Gothic";
}
.comment h3{
    font-size: 17px;
    font-family: "Calibri";
    text-align: center;
}
.comment h5{
    font-size: 17px;
    font-weight: bold;
    font-family: "Calibri";
    text-align: center;
    padding-top: 40px;
}
.comment img{
    padding: 0px 914px 40px 880px;
}
.feedback {
    background: url(../img/contac.png) center/cover no-repeat;
}
.feedback h1{
    padding-top: 105px;
    padding-bottom: 70px;
    text-align: center;
    font-size: 34px;
    color: #fff;
}
.feedback h4{
    font-size: 17px;
    color: #fff;
    padding-bottom: 156px;
    text-align: center;
}
.feedback h3{
    text-align: center;
    padding-bottom: 56px;
    color: #fff;
    font-size: 21px;
}
.feedback input {
    margin: 0px 593px 14px 28px;
    border: 3px solid black;
    background: #d2d6dc;
    padding: 10px 200px 12px 13px;
}
.messagename input {
    margin: 0px 29px 14px 297px;
    padding: 10px 200px 12px 13px;
}
.feedback textarea {
    margin: 0px 593px 14px 297px;
    border: 3px solid black;
    background: #d2d6dc;
    padding: 10px 350px 12px 13px;
}
.messagesubmit input{
    border: 3px solid #fff;
    background: none;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
    margin: 64px 896px 168px 896px;
    padding: 18px 18px 13px 18px;
}
.menu li a{
    transition: all 0.1s;
    color: white;
    transform: scale(1);
    display: inline-block;
}
.menu li a:visited{
    color: white;
}
.menu li a:hover{
    color: #eb8601;
}
.menu li a:active{
    transform: scale(1.1);
}
.title_container input{
    transition: all 0.2s;
}
.title_container input:hover{
    background: #344051;
    color: white;
}
.title_container input:active{
    transform: scale(1.1);
}
@keyframes comming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes topshift{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}
.menu li:nth-child(2){
    animation-delay: 0.4s;
}
.menu li:nth-child(3){
    animation-delay: 0.8s;
}
.menu li:nth-child(4){
    animation-delay: 1.2s;
}
.menu li:nth-child(5){
    animation-delay: 1.6s;
}
.menu li:nth-child(6){
    animation-delay: 2s;
}
@keyframes titlemove{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 404px;
    }
}
.info input:hover{
    background: #344051;
    color: white;
}
.info input:active{
    transform: scale(1.1);
}
.messagename input:hover{
    background: #344051;
    color: white;
    transform: scale(1.1);
}
.email input:hover{
    background: #344051;
    color: white;
    transform: scale(1.1);
}
.feedback textarea:hover{
    background: #344051;
    color: white;
    transform: scale(1.1);
}
.messagesubmit input:hover{
    background: #343f50;
    color: white;
}
.messagesubmit input:active{
    transform: scale(1.1);
}
.comment img:hover{
    transform: scale(1.5,1.5);
}